<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card teal">
        <img class="responsive-img" src="https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <div class="card-content white-text">
          <h2>Welcome</h2>
          <h5>Just write it down. You won't regret it</h5>
        </div>
        <div class="card-action">
          <% if logged_in? %>
            <%= link_to 'Take a note', new_note_path %>
            <%= link_to 'Edit Account', edit_user_path(current_user) %>
          <% else %>
            <%= link_to 'Sign Up', signup_path %>
            <%= link_to 'Log In', login_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>